@import "../app.component.scss";

footer{
  width:100%;
  height: 75px;
  background-color: $corfinal;
  color: $branco;
  margin-top: 80px;
  padding-top: 10px;
  .container{
    width: 1140px;
    display: flex;
    margin: auto;
    padding-top: 25px;
  .copyright{
    width: 90%;
  }
  .links{
    width: 20%;
    ul{
      display:flex;
      padding: 0;
      margin:0;

      li{
        list-style-type: none;
        padding-right: 20px;
      }
        }
  }
  img{
    width: 65%;
    filter: invert(100%);

   }

}
}
