<p>
  <mat-toolbar>

  <h1>PAGES</h1>
  <span class="menu-spacer"></span>
  <button mat-button routerLink="home"> Ínicio</button>
  <button mat-button routerLink="contato"> Contato</button>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon routerLink="detalhes">favorite </mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
   <mat-icon >share</mat-icon>
 </button>
</mat-toolbar>
</p>
