
<div id="titulo">
  <h1>CONHEÇA MELHOR A DESENVOLVEDORA POR TRÁS DESSE SITE 🥇: </h1>
  <p> (id produto selecionado:{{livroId}}) </p>
</div>

  <div id="fundoinicio">
  <img src="../../assets/fotos/eu.JPG">
  </div>


<div class="container">
  <div class="sobreMim">
        <h2>Camilly Vitória Dionísio </h2>

        <h3>Perfil Profissional:</h3>

         <p> Sou uma profissional dedicada e apaixonada pelo mundo da logística, produção e indústria.
          Minha trajetória educacional e experiências refletem minha busca constante por conhecimento e
          aprimoramento em áreas que me fascinam.</p>

        <h3> Formação:</h3>

        <p>Concluí com sucesso o curso técnico em Logística na ETEC, em 2023.2, onde adquiri uma base sólida de conhecimentos
          relacionados ao gerenciamento de cadeias de suprimentos e otimização de processos.</p>

        <p>Atualmente, estou cursando o bacharelado em Engenharia de Produção na UNIVESP. Minha paixão por essa área cresceu ainda mais
           enquanto mergulhava nos conceitos de planejamento, controle e aprimoramento de processos industriais.</p>

        <h3>Desenvolvimento Web Front-end:</h3>

        <p> Além das minhas conquistas acadêmicas, estou ampliando minhas habilidades ao participar do curso de Desenvolvimento Web Front-end
           na Totvs, em parceria com a ADA Tech. Essa jornada no mundo da tecnologia me permite explorar a interseção entre a produção
           industrial e a inovação digital, abrindo portas para soluções criativas e eficientes.</p>
     </div>

      <div class="SobreMim2">
        <h2>18 Anos </h2>

        <h3>Perfil Pessoal:</h3>

         <p> Olá! Sou alguém que encontra alegria nas pequenas coisas da vida e busca a harmonia entre a mente, o corpo e o espírito. Minha
          jornada é marcada por um amor genuíno por gatos, criaturas que irradiam mistério e carinho, e que trazem um toque especial ao meu
          cotidiano.</p>

        <h3> Hobbies:</h3>

        <p>Meu passatempo preferido é a leitura, uma prática que me conecta com vastos mundos de conhecimento. Encontro refúgio em livros de meditação, nutrição e espiritualidade, explorando caminhos que nutrem não apenas meu intelecto, mas também minha alma. A A vida tranquila da zona rural é a minha verdadeira essência. Nada se compara ao privilégio de ter contato com a natureza.</p>

        <h3>Vida Digital:</h3>

        <p>  No LinkedIn, compartilho insights e conquistas da minha jornada profissional, usando para conversas enriquecedoras e conexões. Por outro lado, também mergulho nas outras mídias sociais para compartilhar minha jornada pessoal, revelando momentos que capturam a alegria de viver.</p>
      </div>

</div>


